* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #404040;
}

.inner {
  position: relative;
  max-width: 1640px;
  margin: auto;
  height: 100%;
}

section {
  position: relative;
  z-index: 0;
  min-height: 100vh;
}

section h2 {
  font-size: 120px;
}

section p {
  font-size: 17px;
  padding: 30px 0 50px;
}

a.btn {
  background-color: #000;
  display: inline-block;
  padding: 10px 40px;
  font-size: 22px;
  border-radius: 25px;
  color: #fff;
}
.scroll-top-btn{
  position:fixed;
  z-index: 4;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  background-color: #7944c2;
  color:white;
  cursor: pointer;
  translate: all .3s;
  opacity: 0;
  transform: translateY(50px);
}
header {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  
}
header.scroll {
  background-color: #00000067;
}
header.scroll .scroll-top-btn{
  opacity: 1;
  transform: translateY(0);
}
header .nav-btn{
  display:none;
}

header .title a {
  color: aliceblue;
}

header .inner {
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 42px;
}

nav ul a {
  color: #fff;
  font-size: 18px;
}

#s01 {
  height: 100vh;
  background: url(../img/s1_bg.png) no-repeat center/cover;
}

#s01 .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#s01 .t-wrap>* {
  color: #fff;
}
#s02 {
  min-height: auto;
  padding:200px 0;
}
#s02 .t-wrap{
  position: relative;
  display: inline-block;
}
#s02 .t-wrap h2,
#s02 .t-wrap p{
  position: relative;
}
#s02 .t-wrap::before{
  display: block;
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c9c9c9;
  position: absolute;
  top: 0;
  right: 0;
}
.s02-list{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.s02-list li{
  width: 260px;
  height: 218px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s02-list li p{
  padding-top: 20px;
  padding-bottom:0 ;
}
#s03 {
  height: 100vh;
}
#s03 .inner {
  max-width: none;
  display: flex;
}
#s03 .img-wrap,
#s03 .t-wrap {
  width: 50%;
}
#s03 .img-wrap{
  height: 100%;
  background: url(../img/s3_bg.png) no-repeat center/cover;
}
#s03 .t-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E4E4E4;
}
#s04{
  min-height: auto;
  padding: 200px 0;
}
#s04 .t-wrap{
  position: relative;
}

#s04 .t-wrap a.btn{
  position: absolute;
  right: 0;
  top: 50%;
  /* margin-top: -24px; */
  transform: translateY(-50%);
}
.s04-list {
  display: flex;
  justify-content: center;
  gap: 48px;
  text-align: center;
  max-width: 1400px;
  margin: auto;
}
.s04-list li{
  height: 350px;
  background-color: #DBDBDB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.s04-list li:nth-child(even){
  margin-top:60px ;
}

/* footer */
footer{
  padding : 20px 0;
  background-color: #f1f1f1;
}

footer h2{
  font-size: 40px;
  
}

footer p{
  padding : 10px 0;
  font-size:16px;
}

footer .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

footer .t-wrap{
  padding: 0 160px;
}

footer .f-list{
  display: flex;
  gap:20px;
}
footer .f-list a{
  display: flex;
  height: 60px;
  width:60px;
  background-color: plum;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.f-list img{
  width:30px;
}